In [1]:
#
import numpy as np
import os
import pandas as pd
import pickle
from sklearn import preprocessing
import time

C:\Users\subha\AppData\Local\conda\conda\envs\pytorch\lib\site-packages\sklearn\utils\__init__.py:4: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  from collections import Sequence

In [9]:
#
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

In [4]:
#
data_folder = 'D:\GitHub\IndependentStudy\Data\historical_data1_Q12005'

In [8]:
#
loan_dtypes = {'credit_score': np.int64, 'first_payment_date': np.int64, 'first_time': object, 'mat_date': np.int64, 'msa':np.float64, 'mortgage_insurance':np.float64, 
              'num_units':np.int64, 'occupancy':object, 'CLTV': np.float64, 'DTI': np.float64, 'UPB': np.float64, 'LTV': np.float64, 'original_interest_rate':np.float64,
              'channel': object, 'PPM': object, 'product_type': object, 'state': object, 'property_type': object, 'postal_code': np.float64, 'loan_number': object, 
              'purpose': object, 'original_loan_term': np.float64, 'num_borrowers': np.int64, 'seller': object, 'servicer': object, 'super_conforming_flag': object, 'preharp_seq_num': object}
loan_name = ['credit_score', 'first_payment_date', 'first_time', 'mat_date', 'msa', 'mortgage_insurance', 'num_units', 'occupancy', 'CLTV', 'DTI', 'UPB', 'LTV', 'original_interest_rate', 'channel', 'PPM', 'product_type', 'state', 'property_type', 'postal_code', 'loan_number','purpose', 'original_loan_term', 'num_borrowers', 'seller', 'servicer', 'super_conforming_flag', 'preharp_seq_num']

In [9]:
#
monthly_dtypes = {'loan_number': object, 'monthly_period': np.float64, 'current_UPB': np.float64, 'current_status': object, 'loan_age': np.float64,
                 'remaining_month': np.float64, 'repurchase_flag': object, 'modification_flag': object, 'zero_balance': np.float64, 'zero_balance_date': np.float64,
                 'current_interest_rate': np.float64, 'current_deferred_UPB': np.float64, 'DDLPI': np.float64, 'mi_recovery': np.float64,
                 'net_sales_procedees': object, 'non_mi_recovery': np.float64, 'expenses': np.float64, 'legal_cost': np.float64, 'maintainance_cost': np.float64,
                 'tax': np.float64, 'misc_cost': np.float64, 'actual_loss': np.float64, 'modification_cost': np.float64, 'step_modification_flag': object, 'deferred_payment_mod': object}

monthly_name = ['loan_number', 'monthly_period', 'current_UPB', 'current_status', 'loan_age',
                 'remaining_month', 'repurchase_flag', 'modification_flag', 'zero_balance', 'zero_balance_date',
                 'current_interest_rate', 'current_deferred_UPB', 'DDLPI', 'mi_recovery',
                 'net_sales_procedees', 'non_mi_recovery', 'expenses', 'legal_cost', 'maintainance_cost',
                 'tax', 'misc_cost', 'actual_loss', 'modification_cost', 'step_modification_flag', 'deferred_payment_mod']

In [7]:
%time loan_data = pd.read_pickle(os.path.join(data_folder, 'loan_data1_time_Q12005_np.pickle'))
%time monthly_data = pd.read_pickle(os.path.join(data_folder, 'monthly_data1_time_Q12005_np.pickle'))

Wall time: 1.31 s
Wall time: 1min 12s

In [29]:
#
%time loan_data = pd.read_csv(os.path.join(data_folder, 'historical_data1_Q12005.txt'), delimiter='|', header = None, dtype=loan_dtypes, names=loan_name)
%time monthly_data = pd.read_csv(os.path.join(data_folder, 'historical_data1_time_Q12005.txt'), delimiter='|', header = None, dtype=monthly_dtypes, names=monthly_name)

Wall time: 9.98 s

### One-hot encoding

In [10]:
#
loan_one_hot_columns = ['first_time', 'occupancy', 'channel', 'PPM', 'product_type', 'property_type', 'purpose', 'seller', 'servicer', 'super_conforming_flag', 'preharp_seq_num']

monthly_one_hot_columns = ['repurchase_flag', 'modification_flag', 'step_modification_flag', 'deferred_payment_mod']

In [31]:
#
%time loan_data_temp = pd.get_dummies(loan_data, columns=loan_one_hot_columns)

Wall time: 1.76 s

In [9]:
#
%time monthly_data_temp = pd.get_dummies(monthly_data, columns=monthly_one_hot_columns)

Wall time: 1min 7s

In [38]:
#
print(loan_data.shape)
print(monthly_data.shape)

(351634, 69)
(26391679, 29)

### Creating lookup

In [ ]:
lookup = monthly_data[['loan_number']].groupby(['loan_number']).size().reset_index(name='counts')

In [ ]:
lookup_table = []
curr = 0
for ind, r in lookup.iterrows():
    lookup_table.append((r[0], curr, curr+r[1]))
    curr = curr+r[1]

In [ ]:
lookup_table = np.array(lookup_table)

### Dividing into 100 chunks loans, joining, creating lookup and saving

In [41]:
#
num_chunk = 100
chunk_size = int(loan_data.shape[0] / 100)

In [14]:
rootDir = '../Data'
flag = False
for dirName, subdirList, fileList in os.walk(rootDir):
    print(dirName)
    print(subdirList)
    for f in fileList:
        if 'time' in f:
            monthly_data = pd.read_csv(os.path.join(dirName, f), delimiter='|', header = None, dtype=monthly_dtypes, names=monthly_name)
        else:
            loan_data = pd.read_csv(os.path.join(dirName, f), delimiter='|', header = None, dtype=loan_dtypes, names=loan_name)
            flag = True
    if flag:
        break

../Data
['2014', '2015']
../Data/2014
['historical_data1_Q12014', 'historical_data1_Q22014', 'historical_data1_Q32014', 'historical_data1_Q42014']
../Data/2014/historical_data1_Q12014
[]

In [16]:
loan_data.head()

,credit_score,first_payment_date,first_time,mat_date,msa,mortgage_insurance,num_units,occupancy,CLTV,DTI,...,property_type,postal_code,loan_number,purpose,original_loan_term,num_borrowers,seller,servicer,super_conforming_flag,preharp_seq_num
0,717,201404,9,204403,39300.0,0.0,1,I,77.0,41.0,...,SF,2800.0,F114Q1000001,P,360.0,2,Other sellers,LAKEVIEWLOANSERVICIN,NaN,NaN
1,813,201405,Y,204404,19780.0,30.0,1,P,95.0,32.0,...,SF,50300.0,F114Q1000002,P,360.0,1,Other sellers,Other servicers,NaN,NaN
2,799,201403,9,204402,NaN,0.0,1,P,79.0,37.0,...,SF,45600.0,F114Q1000003,C,360.0,1,Other sellers,Other servicers,NaN,NaN
3,742,201403,9,204402,NaN,0.0,1,P,78.0,45.0,...,SF,42100.0,F114Q1000004,C,360.0,1,Other sellers,Other servicers,NaN,NaN
4,725,201403,9,204402,17860.0,0.0,1,P,80.0,20.0,...,SF,65200.0,F114Q1000005,N,360.0,2,Other sellers,"PNCBANK,NATL",NaN,NaN

In [17]:
l = [['we', 4, 6], ['tr', 5, 1]]
l

[['we', 4, 6], ['tr', 5, 1]]

In [18]:
pd.DataFrame(l)

    0  1  2
0  we  4  6
1  tr  5  1

In [43]:
#
group_name = 'Q1/'
for i in range(0, num_chunk):
    curr_loans = loan_data.iloc[i*chunk_size:min((i+1)*chunk_size, loan_data.shape[0]), :]
    df = pd.merge(curr_loans, monthly_data, on='loan_number')
    
    # Create Lookup
    lookup = df[['loan_number']].groupby(['loan_number']).size().reset_index(name='counts')
    lookup_table = []
    curr = 0
    for ind, r in lookup.iterrows():
        lookup_table.append((r[0], curr, curr+r[1]))
        curr = curr+r[1]
    lookup_table = pd.DataFrame(np.array(lookup_table))
    
    df.to_hdf(os.path.join(data_folder, 'Loan_Data.h5'), key=group_name+'X_'+str(i), format='t', complevel=9)
    lookup_table.to_hdf(os.path.join(data_folder, 'Loan_data.h5'), key=group_name+'lookup_'+str(i), format='t', complevel=9)

1.139484167098999
0.08643150329589844
1.1762776374816895
0.05512237548828125
0.8045287132263184
0.032903432846069336
0.8777880668640137
0.05741119384765625
1.1112720966339111
0.04189300537109375
0.7760803699493408
0.051168203353881836
1.1109113693237305
0.0359036922454834
0.5811624526977539
0.02692580223083496
1.0741286277770996
0.05584287643432617
0.7370274066925049
0.07081246376037598
1.068134069442749
0.0458829402923584
1.0093011856079102
0.06781625747680664
1.1080400943756104
0.04787302017211914
1.1120247840881348
0.024933338165283203
0.9813776016235352
0.031917572021484375
1.6785097122192383
0.03590512275695801
0.8028531074523926
0.03390812873840332
1.0761139392852783
0.08277153968811035
0.8477420806884766
0.0648653507232666
0.9155495166778564
0.016959667205810547
1.2317054271697998
0.03989410400390625
1.2785792350769043
0.04089188575744629
0.8675594329833984
0.03986525535583496
0.6690754890441895
0.06087851524353027
0.7320425510406494
0.06682372093200684
1.1047418117523193
0.039206743240356445
1.19879150390625
0.14760541915893555
1.5203149318695068
0.055145978927612305
0.8947632312774658
0.18760299682617188
1.345815896987915
0.03818798065185547
1.244338035583496
0.05485367774963379
0.9589684009552002
0.07381033897399902
1.3156373500823975
0.07081198692321777
1.1624469757080078
0.05704855918884277
1.231938362121582
0.08120393753051758
1.3185882568359375
0.04584360122680664
1.275517463684082
0.09877228736877441
1.1270558834075928
0.12765884399414062
1.1654138565063477
0.1400284767150879
0.9076159000396729
0.05185413360595703
1.1484904289245605
0.1136929988861084
0.7993414402008057
0.0588223934173584
1.1552937030792236
0.06084108352661133
1.266263484954834
0.06481432914733887
1.1045973300933838
0.05034303665161133
0.7271714210510254
0.0751333236694336
0.8131687641143799
0.05284762382507324
1.1639204025268555
0.04288530349731445
1.2217094898223877
0.03789496421813965
0.8580448627471924
0.03191542625427246
1.2117252349853516
0.059841156005859375
1.321772575378418
0.055951833724975586
0.8274240493774414
0.10459113121032715
1.100090503692627
0.07978630065917969
0.8204004764556885
0.06395244598388672
0.5619969367980957
0.031915903091430664
1.2217369079589844
0.05880570411682129
0.7988572120666504
0.11671924591064453
1.1110255718231201
0.04787278175354004
0.8277785778045654
0.141618013381958
1.2244009971618652
0.0747992992401123
1.152888298034668
0.1307375431060791
0.9443585872650146
0.07478857040405273
0.8347439765930176
0.15241432189941406
1.11027193069458
0.07879638671875
1.1465508937835693
0.09849977493286133
1.1828041076660156
0.12659883499145508
0.8126773834228516
0.06252646446228027
1.2152292728424072
0.07426190376281738
1.2588300704956055
0.06685304641723633
0.740175724029541
0.07390642166137695
1.1664679050445557
0.06995606422424316
0.8338723182678223
0.06926655769348145
0.9085731506347656
0.06482577323913574
1.286384105682373
0.08502578735351562
1.3706738948822021
0.09666037559509277
1.221632957458496
0.04786252975463867
0.8400669097900391
0.12109518051147461
1.2339146137237549
0.05701017379760742
0.8590226173400879
0.05668306350708008
0.742520809173584
0.047193050384521484
0.8882162570953369
0.05385565757751465
0.8828113079071045
0.0518956184387207
0.7604210376739502
0.14981293678283691
0.9012913703918457
0.05878806114196777
1.2029175758361816
0.12729763984680176
1.1442651748657227
0.06381011009216309
1.2366917133331299
0.07978105545043945
1.178948163986206
0.046648263931274414
1.3405685424804688
0.05101752281188965
1.1360716819763184
0.056188344955444336
1.0877690315246582
0.0631105899810791
0.86629319190979
0.05465579032897949
0.80810546875
0.10814809799194336
0.7982981204986572
0.11925482749938965
0.8178763389587402
0.09627866744995117
0.9126636981964111
0.07061147689819336
0.7625887393951416
0.06334447860717773
0.8452839851379395
0.0632009506225586
0.7115068435668945
0.0693514347076416

In [44]:
df.shape

(260654, 97)

## Write Functions

In [16]:
start_t = time.time()
with open(os.path.join(data_folder, 'monthly_data1_time_Q12005_np.pickle'), 'wb') as handle:
    pickle.dump(monthly_data_temp, handle)
end_t = time.time()
print(end_t - start_t)

63.54519581794739

In [15]:
start_t = time.time()
with open(os.path.join(data_folder, 'loan_data1_time_Q12005_np.pickle'), 'wb') as handle:
    pickle.dump(loan_data, handle)
end_t = time.time()
print(end_t - start_t)

1.0314583778381348

In [ ]:
start_t = time.time()
with open(os.path.join(data_folder, 'lookup1_time_Q12005.pickle'), 'wb') as handle:
    pickle.dump(lookup_table, handle)
end_t = time.time()
print(end_t - start_t)

In [ ]:
# %time monthly_data.to_hdf(os.path.join(data_folder, 'monthly_data1_time_Q12005.h5'), key='monthly_data')

In [ ]:
# import h5py

In [ ]:
# h5f = h5py.File(os.path.join(data_folder, 'monthly_data1_time_Q12005.h5'), 'w')
# h5f.create_dataset('dataset_1', data=)

In [2]:
a= [[3,4,3], [1,2,4], [0,9,5], [5,8,7], [6,1,6], [0,1,2]]
a = np.array(a)
a

array([[3, 4, 3],
       [1, 2, 4],
       [0, 9, 5],
       [5, 8, 7],
       [6, 1, 6],
       [0, 1, 2]])

In [4]:
np.delete(a, [1,3,4], 0)

array([[3, 4, 3],
       [0, 9, 5],
       [0, 1, 2]])

In [8]:
list(a[:, 1] - 1)

[3, 1, 8, 7, 0, 0]